.sidebarChannel:hover > h4 {
    color: #b8aaaa;
    background-color: #40464b;
}

.sidebarChannel > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #323539;
    color: grey;
    cursor: pointer;
}

.sidebarChannel_hash{
    font-size: 30px;
    padding: 8px;
}

